<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SynergyLicenseMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <applicationSettings>
    <SynergyLicenseMonitor.Properties.Settings>
      <setting name="IntervalInSeconds" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="LicenseCodes" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>GENL</string>
            <string>GENR</string>
            <string>LD00</string>
            <string>LD02</string>
            <string>LD05</string>
            <string>LD06</string>
            <string>LD08</string>
            <string>LD11</string>
            <string>LD12</string>
            <string>ODBCL</string>
            <string>ODBCR</string>
            <string>ONET</string>
            <string>PSDE</string>
            <string>PSW</string>
            <string>RUN</string>
            <string>WRUN</string>
            <string>XFSP</string>
            <string>XFSV</string>
            <string>GENL7</string>
            <string>GENR7</string>
            <string>LD00_7</string>
            <string>LD02_7</string>
            <string>LD05_7</string>
            <string>LD06_7</string>
            <string>LD07_7</string>
            <string>LD08_7</string>
            <string>LD11_7</string>
            <string>LD12_7</string>
            <string>ONET7</string>
            <string>PSDE7</string>
            <string>PSW7</string>
            <string>RPTW7</string>
            <string>RUN7</string>
            <string>WRUN7</string>
            <string>XFSP7</string>
            <string>XFSV7</string>
            <string>BLSRV8</string>
            <string>LMK8</string>
            <string>ODBC_8</string>
            <string>PSDE8</string>
            <string>PSW8</string>
            <string>PSWB8</string>
            <string>RPTW8</string>
            <string>RUN8</string>
            <string>SC_OD8</string>
            <string>SC_OR8</string>
            <string>SC_SQ8</string>
            <string>WRUN8</string>
            <string>XFSP8</string>
            <string>XFSV8</string>
            <string>BLSRV9</string>
            <string>LMK9</string>
            <string>ODBC_9</string>
            <string>PSDE9</string>
            <string>PSW9</string>
            <string>RPTW9</string>
            <string>RUN9</string>
            <string>SC_MY9</string>
            <string>SC_OD9</string>
            <string>SC_OR9</string>
            <string>SC_SQ9</string>
            <string>SDBMS9</string>
            <string>WRUN9</string>
            <string>XFSP9</string>
            <string>XFSV9</string>
            <string>BLS10</string>
            <string>LMK10</string>
            <string>PSDE10</string>
            <string>PSW10</string>
            <string>RPTW10</string>
            <string>RUN10</string>
            <string>SCMY10</string>
            <string>SCOD10</string>
            <string>SCOR10</string>
            <string>SCSQ10</string>
            <string>SDB10</string>
            <string>WRUN10</string>
            <string>XFSP10</string>
            <string>XFSV10</string>
          </ArrayOfString>
        </value>
      </setting>
    </SynergyLicenseMonitor.Properties.Settings>
  </applicationSettings>
</configuration>